// note: no img assets required for layout
html {
  height: 100%;
  font-size: 14px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100% !important;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  &.list-style {
    list-style: disc;
    margin: 1rem 1.5rem;
  }
}

.col-center {
  float: none;
  margin: 0 auto;
}