header {
    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        left: 0;
    }
    .app-header {
        padding: px-to-rem(30) 0 0 0;
    }
}

.app-header {
    background-color: $blue;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.24);
    padding: px-to-rem(30) 0;
    z-index: 200;
    position: relative;
    .title {
        @include font-size($fs: 18);
        padding: .5rem 1rem;
        color: #fff;
        font {
            @include font-size($fs: 22);
            font-stretch: condensed;
            text-align: justify;
            margin-right: 1rem;
        }
    }
    .short-line {
        @include font-size($fs: 22);
        color: #fff;
        margin: 0 1rem 0 2rem;
    }
    .logo {
        width: 180px;
        margin: -8px 0 0 30px;
    }
}

@include --below-small {
    header {
        .app-header {
            padding: 2.5rem 0 2rem;
        }
    }
}

@include --below-mobile {
    header {
        .app-header {
            padding: 1.5rem 1rem 1.5rem;
            position: fixed;
            top: 0;
            width: 100%;
            .title {
                @include font-size(14);
                text-align: center;
                margin-left: 10px;
                padding: 0;
                font {
                    font-size: 1.8rem;
                }
            }
            .logo {
                margin-left: 0px;
            }
            .short-line {
                display: none;
            }
        }
    }
}

@include --below-xs-mobile {
    header {
        .app-header {
            padding: 1.3rem 1rem 1.3rem;
            .logo {
                margin-top: 0px;
            }
            .title {
                display: none;
            }
        }
    }
}