.navbar {
    text-align: center;
    border: none; //border-bottom: 1px solid #ccc;
    background-color: $blue;
    padding-top: px-to-rem(30);
    height: 154px;
    border-radius: 0;
    position: relative;
    z-index: 201;
    .navbar-nav {
        display: table;
        padding: 0; //position: absolute;
        // left: 12.5%;
    }
    .panel-list {
        color: $white;
        display: table-cell;
        &:last-child {
            .panel-title {
                padding: px-to-rem(30) px-to-rem(40);
                border-right: none;
            }
        }
        &:nth-child(3) {
            .panel-title {
                padding: px-to-rem(30) px-to-rem(26);
            }
        }
        .panel-title {
            padding: px-to-rem(30);
            background-color: #0F559A;
            border-right: solid 2px #1e61b1;
            span {
                @include font-size(18);
            }
            @include font-size(22);
        }
    }
    .active-label {
        height: px-to-rem(35);
        img {
            top: -0.1rem;
            position: relative;
            width: calc(100% + 0.5rem);
            left: px-to-rem(-4);
            z-index: 10;
            height: 25px;
        }
    }
    .active {
        .panel-title {
            background-color: #2a7de2;
        }
        position: relative;
    }
}
.mb-navbar {
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #3b8beb;
    line-height: 42px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    height: 42px;
    span {
        margin-left: 15px;
        color: rgba(1, 57, 125, 0.37);
    }
    .nav-step {
        height: 8px;
        background-color: #1e61b1;
        box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.24);
        .nav-dash {
            width: 20%;
            height: 8px;
            float: left;
            border-right: 8px solid #003E7E;
            &:last-child{
                border-right: none;
            }
            &.active {
                background: #fff;
            }
        }
    }
}

@media(max-width: 1440px) {
    .navbar {
        height: 134px;
        .panel-list {
            &:last-child {
                .panel-title {
                    padding: px-to-rem(20) px-to-rem(35);
                }
            }
            &:nth-child(3) {
                .panel-title {
                    padding: px-to-rem(20) px-to-rem(35);
                }
            }
            &:nth-child(5) {
                .panel-title {
                    padding: px-to-rem(20) px-to-rem(35);
                }
            }
            .panel-title {
                padding: px-to-rem(20) px-to-rem(30);
            }
        }
    }
}

@include --below-large {
    .navbar {
        height: 124px;
        .panel-list {
            .panel-title {
                span {
                    @include font-size(16);
                }
            }
        }
    }
}

@media(max-width: 1220px) {
    .navbar-nav {
        width: 100%;
    }
}

@include --below-desktop {
    .navbar {
        height: 85px;
        .panel-title {
            span,
            br {
                display: none;
            }
        }
        .panel-list {
            &:last-child {
                .panel-title {
                    padding: 20px 35px;
                }
            }
            &:nth-child(3) {
                .panel-title {
                    padding: 20px 35px;
                }
            }
            &:nth-child(5) {
                .panel-title {
                    padding: 20px 35px;
                }
            }
            .panel-title {
                padding: 20px 30px;
            }
        }
    }
}
@include --below-mobile {
    .mb-navbar {
        top:63px;
    }
}