input[type="radio"] {
    margin-right: 0.5rem;
}

.has-danger {
    position: relative;
    input,select {
        border-color: $brand-danger;
        &:focus {
            border-color: $brand-danger;
        }
    }

    .error-text {
        bottom: -10px;
        position: absolute;
        font-size: px-to-rem(12);
        color: $brand-danger;
    }
}

.form-check-inline {
    input[type="radio"] {
        margin: 0 0.5rem;
        margin-left: 25px;
        &:first-child {
            margin-left: 0;
        }
       
    }
}

.form-group {
    small {
        display: block;
    }
    input.form-control {
        min-width: 170px;
    }
}

.text-center {
    .btn {
        margin-left: 35px;
        &:first-child {
            margin-left: 0;
        }
    }
}