input[type="radio"] {
    margin-right: 0.5rem;
}

.has-danger {
    position: relative;
    input,select {
        border-color: $brand-danger;
        &:focus {
            border-color: $brand-danger;
        }
    }

    .error-text {
        bottom: -20px;
        position: absolute;
        font-size: px-to-rem(12);
        color: $brand-danger;
    }
}

.form-check-inline {
    input[type="radio"] {
        margin: 0 0.5rem;
        &:first-child {
            margin-left: 0;
        }
    }
}

.form-group {
    small {
        display: block;
    }
    
}