.apply-info {
    @include font-size($fs: 20, $lh: 1.5);
    
    .icon-btns {
        text-align: center;
    }
    .col-md-2 {
        text-align: right;
        border-right: 1px solid #ccc;
    }
}