.column-wrap {
    margin-top: 150px;
    @include font-size($fs: 15, $lh: 1.6);
    a {
        @include underline;
    }
    h4,
    h5 {
        @include font-size($fs: 24, $lh: 1.5);
        color: $dark-blue;
    }
    h5 {
        @include font-size($fs: 22, $lh: 1.5);
    }
    .left-wrap {
        padding-top: 7%;
        .custom-select {
            margin: 1rem 0 2.5rem;
        }
    }
    .right-wrap {
        border-left: solid 1.5px rgba(1, 57, 125, 0.37);
        padding: 5%;
    }
    
    .icon-list {
        li {
            &:nth-child(1), &:nth-child(3){
                width: 40%;
            }

            &:nth-child(2), &:nth-child(4){
                width: 60%;
            }
            &:nth-child(1), &:nth-child(2){
                margin-bottom: 40px;
            }
            &:nth-child(3), &:nth-child(4){
                margin-top: 40px;
            }
            float: left;
            img {
                width:80px;
                margin-right: 35px;
                display: inline-block;
                vertical-align: middle;
            }
            div {
                color: $dark-blue;
                width: calc(100% - 115px);
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                @include font-size($fs: 20, $lh: 1.5);
            }
        }
       
        
    }
}

.apply-wrap {
    .left-wrap{
        padding: 10% 0 0 5%;
    }
    
    .right-wrap {
        padding: 7% 0 7% 5%;
    }        
}