.column-wrap {
    margin-top: 150px;
    padding-bottom: 180px;
    @include font-size(15);
    a {
        @include underline;
    }
    h4,
    h5 {
        @include font-size($fs: 24);
        color: $dark-blue;
    }
    h5 {
        @include font-size($fs: 22);
    }
    .left-wrap {
        padding-top: 7%;
        .custom-select {
            margin: 1rem 0 2.5rem;
        }
    }
    .right-wrap {
        border-left: blue-hr-style();
        padding: 5%;
    }
    .icon-list {
        li {
            float: left;
            &:nth-child(1),
            &:nth-child(3) {
                width: 40%;
            }
            &:nth-child(2),
            &:nth-child(4) {
                width: 60%;
            }
            &:nth-child(1),
            &:nth-child(2) {
                margin-bottom: 40px;
            }
            &:nth-child(3),
            &:nth-child(4) {
                margin-top: 40px;
            }
            img {
                width: 80px;
                margin-right: 35px;
                display: inline-block;
                vertical-align: middle;
            }
            div {
                color: $dark-blue;
                width: calc(100% - 115px);
                display: inline-block;
                vertical-align: middle;
                text-align: left;
                @include font-size($fs: 20);
            }
        }
    }
}

.apply-wrap {
    .left-wrap {
        padding: 10% 0 0 5%;
        a {
            margin: 2rem 0;
        }
    }
    .right-wrap {
        padding: 7% 0 7% 5%;
    }
}

@include --below-small {
    .column-wrap {
        margin-top: 10px;
        padding-bottom: 30px;
        .left-wrap {
            text-align: center;
        }
        .right-wrap {
            border-left: none;
            border-top: blue-hr-style();
            margin: 4rem 2rem;
            padding: 30px;
            .btn {
                position: relative;
                left: 50%;
                margin-left: -75px;
            }
        }
    }
    .apply-wrap {
        margin-top: 30px;
        .left-wrap{
            padding: 0;
        }
        .right-wrap {
            border: none;
            margin: 2rem 0rem 4rem;
            a {
                margin: 2rem 0;
            }
            .icon-list {
                li {
                    width: 100%;
                    margin: 0 0 20px;
                    img {
                        width: 40px;
                        margin-right: 25px;
                    }
                    div {
                        width: calc(100% - 65px);
                        @include font-size($fs: 18);
                    }
                }
            }
                       
        }
    }
}