.form-page {
    padding: px-to-rem(335) 3rem 4rem;
    background: rgba(255, 255, 255, 0.7);
    margin: 0px auto px-to-rem(100);
    color: $gary;
    @include font-size(18);
    .form-group,
    .form-check-inline {
        margin: 0;
        padding: px-to-rem(16) 0;
    }
    hr {
        border-top: solid 1.5px rgba(1, 57, 125, 0.37);
    }
    h3,
    .blue-title,
    label {
        font-family: 'Roboto ', 'Noto Sans SC';
        font-weight: bold;
    }
    h3 {
        color: $dark-blue;
        margin: px-to-rem(36) 0 px-to-rem(5);
        @include font-size(24, 40);
    }
    .blue-title {
        color: $dark-blue;
    }
    small {
        @include font-size(15);
    }
    label {
        margin-bottom: 0;
        font-weight: bolder;
    }
    input,
    select {
        margin-top: px-to-rem(10);
        width: 50%;
        height: px-to-rem(36);
    }
    select:disabled {
        background-color: $lite-gary;
        cursor: not-allowed;
    }
    input[type=radio] {
        width: 17px !important;
        height: 17px !important;
        position: relative;
        top: 2px;
    }
    .col-inputs {
        display: table;
       
        select,
        input {
            width: initial;
        }
    }
    .form-inline {
        display: table;
    
        .form-group {
            margin: 0 0 0 1rem;
            padding: 1rem 0;
            .form-control {
                margin: 0;
            }
        }
        select {
            margin-top: 0;
        }
    }
    .last-step {
        .form-group {
            margin: 0.5rem 0;
            padding: 0px;
        }
        .expend {
            margin: -1.2em -3rem 0rem;
            padding: 1rem 3rem 0rem;
        }
    }
    .expend,
    .senior-expend {
        background-color: rgba(31, 97, 177, 0.23);
    }
    .expend {
        margin: 1.4rem -3rem -1.8rem;
        padding: 1rem 3rem 2rem;
    }
    .senior-expend {
        margin: px-to-rem(20) -3rem -1.7rem;
        padding: 1px 3rem px-to-rem(15);
    }
    .SourceOfIncome-table {
        tr {
            td {
                input {
                    margin-top: 0;
                }
                padding: 5px 0;
                &:nth-child(4){
                    input {
                        width: 100%;
                        margin-top: 0;
                    }
                }
            }
            
        }
    }
    input[type="radio"],
    input[type="checkbox"] {
      margin-top: 0px;
      min-height: 15px;
      min-width: 15px;
      width: 15px;
      
    }
}

@include --below-small {
    .form-page {
        padding-top: 180px;
    }
}

@include --below-mobile {
    .form-page {
        padding-top: 125px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0px auto 100px;
        .form-group,
        .form-check-inline {
            padding: 0.8rem 0;
        }
        input.form-control {
            min-width: 170px;
            width: 80%;
        }
        select {
            width: 100%;
        }
        .col-inputs {
            .form-group {
                margin: 0.5rem 0;
                padding: 0;
            }
            .has-danger {
                .error-text {
                    position: inherit;
                    display: inline-block;
                    margin-left: 5px;
                }
                input {
                    display: inline-block;
                }
            }
        }
    }
}
@include --below-xs-mobile {
    .form-page{
        padding-top: 150px;
        .SourceOfIncome-table {
            tr {
                th{
                    display: inline-block;
                    &:nth-child(1) {
                        width: 10%;
                    } 
                    &:nth-child(2),&:nth-child(3){
                        width: 45%;
                    } 
                    &:nth-child(4){
                        display: none;
                    }                    
                }
                td {
                    display: inline-block;
                    input {
                        margin-top: 0;
                    }
                    padding: 5px 0;
                    &:nth-child(1) {
                        width: 10%;
                    } 
                    &:nth-child(2),&:nth-child(3){
                        width: 45%;
                    } 
                    &:nth-child(4){
                        display: block;
                        width: 100%;
                        position: relative;
                        &::before{
                            content: "Description";
                            position: absolute;
                            padding: 0 6px;
                            line-height: 34px;
                            font-size: 10px;
                            color: #444;
                            top: 6px;
                            border-radius: 5px 0 0 5px;
                            background: #cccccc;
                        }
                        input {
                            width: 95%;
                            margin-top: 0;
                            padding-left:80px;
                        }
                    }
                }
                
            }
        }
    }
    
}
    
.normal-height {
    
    padding: 4rem 3rem 4rem;
    &:first-of-type {
        padding-top: 25rem;
        margin-bottom: 20px;
    }
}

.form-wrap {
    display: none;
}