.term-wrap {
    margin-top: 150px;
    @include font-size($fs: 15, $lh: 1.6);
    h4 {
        @include font-size($fs: 24, $lh: 1.5);
        height: 37px;
        color: #00397d;
    }
    .left-wrap{
        border-right: solid 1.5px rgba(1, 57, 125, 0.37);
        padding-top: 7%;
        .custom-select {
            margin: 1rem 0 2.5rem;
        }   
    }
    .right-wrap{
        padding: 5%;
    }
    
    
}