// Themes
// --------------------------------------------------
$theme_text_color: rgba(0, 0, 0, .7);
// Brand Color
// --------------------------------------------------
// Start with assigning color names to specific hex values.
$white : #fff !default;
$black : #000 !default;
$red : #d9534f !default;
$orange: #f18f16 !default;
$yellow: #ffd500 !default;
$green : #193619 !default;
$blue : #1f61b1 !default;
$dark-blue : #00397d !default;
$teal : #5bc0de !default;
$pink : #ff5b77 !default;
$purple: #613d7c !default;
$brand-primary : $blue !default;
$brand-success : $green !default;
$brand-info : $teal !default;
$brand-warning : $orange !default;
$brand-danger : $red !default;

// Screen Size 
// --------------------------------------------------

@mixin --above-large {min-width: 1401px};
@mixin --below-large {max-width: 1400px};
@mixin --above-medium {min-width: 1281px};
@mixin --below-medium {max-width: 1280px};
@mixin --above-desktop {min-width: 1025px};
@mixin --below-desktop { @media only screen and (max-width: 1024px) { @content; }};
@mixin --above-small {min-width: 851px};
@mixin --below-small { @media only screen and (max-width: 991px) { @content; }};
@mixin --above-tablet {min-width: 768px};
@mixin --below-tablet { @media only screen and (max-width: 767px) { @content; }};
@mixin --above-mobile {min-width: 551px};
@mixin --below-mobile { @media only screen and (max-width: 550px) { @content; }};

// Font Style
// --------------------------------------------------
@media only screen and (max-width: 550px) { 
    @function px-to-rem($size) {
        @return ($size / 10 * 0.8)+rem;
    } 
}
$default-line-height: 1.5 !default;
@function px-to-rem($size) {
    @return ($size / 10 )+rem;
}

@mixin font-size($fs: false, $lh: $default-line-height) {
    @if $fs {
        font-size: px-to-rem($fs);
    }
    @if $lh {
        line-height: $lh;
    }
}

// Line Style
// --------------------------------------------------

@function blue-hr-style() {
    @return (solid 1.5px rgba(1, 57, 125, 0.37));
}
@function gary-hr-style() {
    @return (solid 1.5px rgba(31, 97, 177, 0.23));
}


@mixin underline {
    margin: 0 5px;
    border-bottom: 1px solid $dark-blue;
    &:hover {
        border-bottom: 1px solid $blue;
        text-decoration: none;
    }
}

@mixin blue-hr {
    border: none;
    border-bottom: blue-hr-style();
}
@mixin gary-hr {
    border: none;
    border-bottom: gary-hr-style();
}

// @mixin button-style {
//     $text-color: lime;
//     color: $text-color;
// }
// @mixin link-style {
//     $text-color: black;
//     color: $text-color;
// }
// button {
//     @include button-style;
// }
// a {
//     @include link-style;
// }