// Themes
// --------------------------------------------------
$theme_text_color : rgba(0, 0, 0, .7);

// Brand Color
// --------------------------------------------------

// Start with assigning color names to specific hex values.
$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #1f61b1 !default;
$dark-blue:  #00397d !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;

// Font Style
// --------------------------------------------------
$default-line-height: 1.5 !default;

@function px-to-rem($size) {
    @return ($size / 10 * 0.85)+rem;
}

@mixin font-size($fs: false, $lh: $default-line-height) {
    @if $fs {
        font-size: px-to-rem($fs);
    }
    @if $lh {
        line-height: $lh;
    }
}

@mixin underline {
    margin: 0 5px;
    border-bottom: 1px solid $dark-blue; 
    &:hover {
      border-bottom: 1px solid $blue; 
      text-decoration: none;
    }
}


// @mixin button-style {
//     $text-color: lime;
//     color: $text-color;
// }
// @mixin link-style {
//     $text-color: black;
//     color: $text-color;
// }
// button {
//     @include button-style;
// }
// a {
//     @include link-style;
// }